   
// desktop
@media screen  and(min-width:1200px){
    .clients {
        padding-bottom: var(--padding-of-section);
        padding-top: 94px; 
        align-items: center;
        justify-content: center;
         
        &__title { 
            font-weight: var(--font-weight-variable);
            font-size: 36px;
            letter-spacing: var(--letter-spacing);
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;  
            line-height: 1.16;
        }
    }
.clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--margin-in-section));

        &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 90px;
        border: 1px solid #AFB1B8; 
        border-radius: 4px;
        margin-left: var(--margin-in-section);
        }
  }
}
// mobile
@media screen and (min-width:320px) and (max-width: 767px){
   
    .clients-list {
        display: flex;
        // flex-wrap: wrap;
        }
    
    .clients-list__item{
        width: 210px;
        height: 90px;    
                
        // &:nth-last-of-type(2n+1) {
        //     margin-left: 30px;
        // }
      
        // &:nth-child(-n+4){
        //     margin-bottom: 30px;            
        // }
    }

}
// mobile+tablet
@media screen and (min-width: 320px) and (max-width:1199px){
    .clients{
        padding-top: var(--mobile-padding-of-section);
        padding-bottom: var(--mobile-padding-of-section);
     }
   
}
// tablet
@media screen and (min-width:768px) and (max-width: 1199px){
    .clients-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     }
    .clients-list{
        &__item{
            width: 226px;
            height: 90px; 
        } 
        &__item:nth-child(3n+1){
            margin-right: 30px;
        }
        &__item:nth-child(-n+3){
            margin-bottom: 30px;
        }
        &__item:nth-last-of-type(3n+1){
            margin-left: 30px;
        }
    }
}




// united
@media screen  and(min-width:320px){
    
    .clients-list__link {
        display: flex;
    }
    
    .clients-list__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    .clients-list{
        &__item  { 
        border: 1px solid #AFB1B8; 
        border-radius: 4px;
        }
        &__item:hover,
        &__item:focus {
            border: 1px solid var(--accent-color);
        }
        &__link {
            width: 100%;
            height: 100%;
            color: var(--social-links-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &__link {
            &:hover,
            &:focus {
             color:var(--accent-color);
            }
        }
    }
       
    .clients-list__icon {
        fill: currentColor;
    
        &--first{
            width: 44px;
            height: 50px;
        }
        &--second{
            width: 40px;
            height: 52px;
        }
        &--third {
            width: 41px;
            height: 42px;
        }
        &--fourth{
            width: 80px;
            height: 42px;
        }
        &--fifth{
            width: 59px;
            height: 47px;
        }
        &--sixth{
            width: 88px;
            height: 45px;
        }
    }    
 }



