.header {
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation__main-pages, 
.first-address  {
    display: none;
}


.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;
    

    transition: opacity 250ms  cubic-bezier(0.4, 0, 0.2, 1);

    
    &__close-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 10px;
        right: 15px;
    }
}

.burger-btn,
.mobile-menu__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
} 

.burger-btn__icon,
.mobile-menu__close-icon {
    width: 40px;
    height: 40px;
    fill: #000;
}

.mobile-menu__pages-link {
    & { 
    font-weight: var(--font-weight-middle);
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--main-color);
    }
    &--current {
        color: var(--accent-color);
    }
}
.mobile-menu{
    &__pages-link:not(:last-child)
    &__contacts-link:not(:last-child) {
    padding-bottom: 32px;
    }

    &__contacts-item--mail {
        font-weight: var(--font-weight-middle);
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        color:var(--paragraph-color);
    }

    &__contacts-item--tel {
        padding-top: 302px;
        font-weight: var(--font-weight-middle);
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        color:var(--accent-color);
    }
}
.mobile-menu {
    &__social-list {
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
    }

    &__social-item {
    font-weight: var(--font-weight-middle);
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--accent-color);
    }
}     
    

// .navigation,
// .navigation__main-pages,
// .first-address {
//     @extend %flex;
// }


// .navigation {
//     &__list-pages {
//         position: relative;
//     }

//     &__list-pages:not(:last-child){
//         margin-right: 50px;
//     }

//     &__main-pages-link {
//         font-weight: 500;
//         font-size: var(--font-size-predominate); 
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: var(--main-color);
//         padding-top: 32px;
//         padding-bottom: 32px;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &__main-pages-link:hover,
//     &__main-pages-link:focus {
//     color: var(--accent-color);
//     }
//     &__main-pages-link--current {
//         color: var(--accent-color); 
//     }
// }


// %special-element {
//     content: "";
//     display: block;
//     position: absolute;
//     height: 4px;
//     width: 100%;
//     border-radius: 2px;
//     left: 0px;
//     bottom: 0px;
//     background-color: var(--accent-color);
// }
// .navigation__main-pages-link--current::after {
//     @extend %special-element;
// }

// .navigation__main-pages-link--decoration{ 
//     &::after{      
//     @extend %special-element;
//     opacity: 0;
//     transform: scaleX(0);
//     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
//     }
   
//     &:hover::after {
//     opacity: 1;
//     transform: scaleX(1);
//     }
// } 