.our-staff {
    background: var(--backround-btn);
    padding-top: var(--padding-of-section);
    padding-bottom: var(--padding-of-section);

    &__container {
        padding-top: 0;
        padding-bottom: 0;
    }

}

.command {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--margin-in-section));
    margin-bottom: calc(-1*var(--margin-in-section));

    &__list {
    width: 270px;
    height: 430px;
    margin-left: var(--margin-in-section);
    margin-bottom: var(--margin-in-section);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
}


.block-for-text {
    padding-top: var(--margin-in-section);
    padding-bottom: var(--margin-in-section);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
        
    &__names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);   

    margin-bottom: 10px;
    }
    &__position{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    color: var(--paragraph-color);
    margin-bottom: 16px;
    }
}
