// .first-address {
//     @extend %flex;

//     &__phone{
//     padding-top: 7px;
//     padding-bottom: 7px;
//     font-weight: 500;
//     font-size: var(--font-size-predominate);
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--paragraph-color);
//     padding-top: 32px;
//     padding-bottom: 32px;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms; 
//     }
//     &__phone:hover,
//     &__phone:focus {
//         color: var(--accent-color);
//     }   
//     &__phone--email,
//     &__phone--tell {
//         @extend %flex;
//     }

    
// }
// .first-address__phone {
//     .first-address__for-contacts:hover &,
//     .first-address__for-contacts:focus &{
//         animation-name: heartBeat;
//         animation-duration: 2000ms;
//         animation-timing-function: linear;
//     }
// }


// .first-address {
//     margin-left: auto;

//     &__for-contacts:not(:last-child) {
//         margin-right: 50px;
//     }

//     &__icon-contacts-letter,
//     &__icon-contacts-smartphone{  
//     fill: currentColor;
//     }
    
//     &__icon-contacts-letter {
//     height: 12px;
//     width: 16px;
//     margin-right: 10px;
//     }

//     &__icon-contacts-smartphone {
//     height: 16px;
//     width: 10px;
//     margin-right: 10px;
//     }
// }


// footer
// .address {
//     &__location-link,
//     &__contact-link {
//     font-size: var(--font-size-predominate);
//     line-height: 1.7;
//     letter-spacing: var(--letter-spacing);
//     display: block;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     } 
//     &__location-link   { 
//         color: var(--white-color);
//     }
//     &__contact-link {
//     color: rgba(255, 255, 255, 0.6);
//     } 
//     &__contacts:not(:last-child) {
//         margin-bottom: 9px;
//     }
//     &__location-link:hover,
//     &__location-link:focus,
//     &__contact-link:hover,
//     &__contact-link:focus{
//     color: var(--accent-color);
//     }
    
// }