@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        max-width: 480px;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(0.9);
        padding: 48px 40px;
        pointer-events: none;
        opacity: 0;
        visibility: none;
        background-color: #fff;
        
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            pointer-events: visible;
            transform: translateX(-50%) scale(1);
            
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .mobile-menu {
        &__close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
        }
        &__close-btn:hover,
        &__close-btn:focus {
            color: var(--accent-color);
        }
    
        &__close-icon:hover,
        &__close-icon:focus {
           fill: currentColor;
        }
    }
    
    .mobile-menu__pages-link {
        font-weight: var(--font-weight-middle);
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
    
        color: var(--main-color);
        text-decoration: none;
          
        &--current {
            color: var(--accent-color);
        }
    }
    
    .mobile-menu{
        &__pages:not(:last-child),
        &__contacts-item:not(:last-child) {
            margin-bottom: 32px;
        }
        &__contacts-item:not(:last-child){
            margin-top: 302px;
        }
        &__contacts-link {
            text-decoration: none;
        }
        &__contacts-link--mail {
            font-weight: var(--font-weight-middle);
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;
    
            color:var(--paragraph-color);
        }
        &__contacts-link--tel {
            font-weight: var(--font-weight-middle);
            font-size: 34px;
            line-height: 1.18;
            letter-spacing: 0.02em;
    
            color:var(--accent-color);
        }
    
        &__social-list {
            display: flex;
            justify-content: space-between;
            margin-top: 64px;
        }
        &__social-item {
            font-weight: var(--font-weight-middle);
            font-size: 18px;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }
        &__social-link{
            color: var(--accent-color);
        }
       
        &__social-link--decoration::after {
        content: "";
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        margin-left: 10px;
        margin-right: 10px;
        }
     }
    
}