@media screen and (min-width:320px) {
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    padding: 40px; 

    &__title {
        display: block;
        margin-bottom: 12px;
        font-weight: var(--font-weight-variable);
        text-align: center;
        letter-spacing: var(--letter-spacing);
    }
    &__wrapper-user-field {
    position: relative;
    display: block;
    margin-top: 4px;
    }
        
    &__label-text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--paragraph-color);
    margin-bottom: 10px;
    }
    &__label-text--textarea {
    margin-bottom: 20px;
    }
}

.form__user-comment {
    resize:none;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
   
    margin-top: 4px;
    padding: 12px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    } 
        &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}

.form__input-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &__input-field:focus {
    outline:none;
    border-color: var(--accent-color) ;
    }
}

.form__icon {
    position: absolute;
    display: block;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--main-color);   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    .form__input-field:focus + & {
    fill: var(--accent-color);
    }
}   

.checkbox-square__label::before {
    content: "";
    display: block;
    background-image: url(../images/checkbox/checkbox.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    cursor: pointer;  
    scale: 1; 
 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox-square:focus + & {
        box-shadow: 0 0 0 2px var(--accent-color);      
    }
}

.checkbox-square{
    &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: var(--letter-spacing);
    border-color: var(--paragraph-color);
    }

    &__confidence-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--accent-color);
    letter-spacing: var(--letter-spacing);
    text-decoration: underline;
    }

    .checkbox-square:checked + &__label::before { 
        background-image: url(../images/checkbox/vector.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--accent-color);
        border: none;
        background-position: center;
        transform: scale(1.2);
        outline: none;
        }
}
.submit-btn {
    align-self: center;
    display: block;
    background-color: var(--accent-color);
    padding: 10px 55px;
    min-width: 200px;
    height: 50px;
    cursor: pointer;   
    margin-top: 30px; 
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border: none; 
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--technical-color);
    }
 
    &__text{    
    font-weight: var(--font-weight-variable);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    }
}

}
@media screen and (min-width:1200px) {
    .form{
    &__title{
        font-size: 20px;
        line-height: 1.15;
        }
    }
    .checkbox-square__label   {
        font-size: 14px;
        line-height: 1.7;
    } 
}
@media screen and (min-width:320px) and (max-width:1199px){
    .backdrop-modal {
        width: 100vw;
        max-width: 480px;
    }
    .checkbox-square__label {
        font-size: 12px;
        line-height: 1.17;
    }
    .form{
    &__title {
        font-size: 20px;
        line-height: 1.5; 
    }
    }
}