@media screen and(max-width: 767px){
    .our-staff__title {
        font-size: 28px;
        line-height: 1.18;
    }
}
// @media screen and(min-width: 320px){
    .our-staff__title,
    .clients__title,
    .our-work__title {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



@media screen and(min-width: 768px){
    .our-work__title,     
    .our-staff__title {    
    font-size: 36px;
    line-height: 1.17;  
    margin-bottom: 50px;            
    }
}
@media screen and(max-width: 1199px){
.clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
    }
.our-staff__title {
    margin-bottom: 30px;
    }    
}

@media screen and (min-width: 1200px) {
    .our-work__title,     
    .our-staff__title,
    .clients__title {
        font-weight: var(--font-weight-variable);
        letter-spacing: var(--letter-spacing);
        margin-bottom: 50px;
    }
}   