.container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: 100%; 
    margin: 0 auto;
    
    .header & {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}


@media screen and (max-width: 767px){
    .container {
      max-width: 480px;

    }
   
}

@media screen and (max-width: 1199px) {
    .container {
     max-width: 768px;
     
    }
}

@media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
}

        
//     & .filters-btn {
//             @extend %flex;
//             flex-wrap: wrap;
//             margin-bottom: 50px;
//             justify-content: center;   
//        }
//      & > .projects{
//         @extend %flex;
//         flex-wrap: wrap;
//         margin-left: calc(-1 * var(--margin-in-section));
//         margin-top: calc(-1 * var(--margin-in-section));
//     }      
// }