:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196F3; 
    --main-color: #212121;
    --paragraph-color: #757575;
    --technical-color: #188CE8;
    --white-color: #fff;
    --backround-btn: #F5F4FA;
    --section-background: #2F303A;
    --letter-spacing: 0.03em;
    --font-weight-variable: 700;
    --font-size-predominate: 14px;
    --container-padding: 15px;
    --container-width: 1200px;
    --container-margin: 0 auto;
    --padding-of-section: 94px;
    --margin-in-section: 30px;
    --social-links-color: #AFB1B8;
    --overlay-cards-color: rgba(33, 150, 243, 0.9);

}